.ion-page#language-select-required {
  background: url('/images/language-page-background.jpg') no-repeat center
    center / cover;

  .header {
    padding: 50px;

    * {
      width: 100%;
      font-weight: 300;
      text-align: center;
    }

    ion-icon {
      font-size: 80px;
      --ionicon-stroke-width: 8px;
    }
  }

  .language-select-list,
  ion-content {
    --background: transparent;
    background-color: transparent;
  }
}


