#survey-dunes-profile-transect-edit {
  ion-content {
    #add {
      width: 40%;
      margin: 30px 0;
      margin-left: 50%;
      transform: translate(-50%, 0);
    }

    .survey-point-item {
      text-transform: capitalize;
    }

    .dunes-profile-label {
      text-transform: none;
      font-size: 0.9rem;
      margin: 0;

      ion-icon {
        margin-bottom: -2px;
      }

      .dunes-profile-values {
        padding-top: 2px;
      }
    }

    .show-type-icon-downslope {
      transform: rotate(180deg);
    }
  }
}
