ion-fab-button.home-fab {
  --border-radius: 22px;
  position: fixed;
  bottom: 10px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

ion-tab-bar {
  --background: #fffdef;

  ion-tab-button {
    --color: black;

    ion-icon.ios {
      --ionicon-stroke-width: 20px;
    }
  }
}
