.leaflet-container {
  height: calc(100%); // accomodate subheader
  width: 100vw;
  background-color: #5d5d5d;

  .leaflet-control .geolocate-btn {
    border-radius: 4px;
    background: white;
    width: 42px;
    height: 42px;
    margin-left: 1px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    text-align: center;
    padding: 0;

    ion-icon {
      width: 21px;
      height: 21px;
      margin-top: 4px;
    }
  }
  .leaflet-control .geolocate-btn.spin ion-icon {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .sr-only {
    display: none;
  }
}
