$cream-white-color: #fffdefd9;

#home-habitats {
  .habitat-list {
    --ion-grid-padding: 0;

    ion-row {
      background: #fffdef;
    }
  }

  .habitat-list-item {
    --ion-grid-column-padding: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0px;
    }

    div.label {
      height: 60vw;
      width: 100%;
      background-size: cover;

      div {
        width: 100%;
        color: #0f5758;
        border: 0;
        position: absolute;
        top: 0px;
        padding: 7px 15px;
        background: $cream-white-color;
        font-size: 15px;
        font-weight: 600;

        .habitat-label-icon {
          position: absolute;
          right: 15px;
          --ionicon-stroke-width: 40px;
        }
      }
    }
  }
}
