$cream-white-color: #fffdefd9;

#home-habitats {
  .habitat-list {
    --ion-grid-padding: 0;
    background: #f7f7f7;
  }

  .habitat-list-item {
    --ion-grid-column-padding: 0;

    div.label {
      height: 60vw;
      width: 100%;
      background-size: cover;

      span {
        width: 100%;
        color: #0f5758;
        border: 0;
        position: absolute;
        bottom: -1px;
        padding: 7px 15px;
        background: $cream-white-color;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
}
