#survey-zonation-mapping-transect-edit {
  ion-content {
    #add {
      margin: 30px 0;
      margin-left: 50%;
      transform: translate(-50%, 0);
    }

    .survey-point-item {
      text-transform: capitalize;
    }
  }
}
