:root {
  --ion-color-primary: #00a0a4;
  --ion-color-primary-rgb: 0,160,164;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #008d90;
  --ion-color-primary-tint: #1aaaad;

  --ion-color-secondary: #e3d3b1;
  --ion-color-secondary-rgb: 227,211,177;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #c8ba9c;
  --ion-color-secondary-tint: #e6d7b9;

  --ion-color-tertiary: #875CAF;
  --ion-color-tertiary-rgb: 135,92,175;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #77519a;
  --ion-color-tertiary-tint: #936cb7;

  --ion-color-success: #6AA33E;
  --ion-color-success-rgb: 106,163,62;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #5d8f37;
  --ion-color-success-tint: #79ac51;

  --ion-color-warning: #F8D616;
  --ion-color-warning-rgb: 248,214,22;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #dabc13;
  --ion-color-warning-tint: #f9da2d;

  --ion-color-danger: #CA437A;
  --ion-color-danger-rgb: 202,67,122;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b23b6b;
  --ion-color-danger-tint: #cf5687;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}