#survey-fixed-photography-transect-point-edit {
  .point-location-name {
    margin: 0;
    line-height: 1;
  }

  .point-location-gridref {
    ion-label[slot='end'] {
      font-size: 0.8em;
    }
  }
}
